In [21]:
import pandas as pd

In [22]:
 df_08 = pd.read_csv("/home/tina/intermidiate_sessions/Project_1/all_alpha_08 (1).csv")

In [23]:
# for this Task , we have look at a certain way to clean one of the column in the dataset using regex, lets explore the second way here

In [24]:
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [25]:
df_08["Cyl"]

0       (6 cyl)
1       (6 cyl)
2       (4 cyl)
3       (4 cyl)
4       (6 cyl)
         ...
2399    (6 cyl)
2400    (8 cyl)
2401    (6 cyl)
2402    (6 cyl)
2403    (8 cyl)
Name: Cyl, Length: 2404, dtype: object

In [27]:
# we need to extract the intger
df_08['Cyl'] = df_08['Cyl'].str.extract(r'(\d+)')

df_08['Cyl']

0       6
1       6
2       4
3       4
4       6
       ..
2399    6
2400    8
2401    6
2402    6
2403    8
Name: Cyl, Length: 2404, dtype: object

In [33]:
df_08['Cyl'].isna().sum()

199

In [39]:
df_08.dropna(inplace=True)

In [40]:
df_08['Cyl'].isna().sum()

0

In [42]:
df_08['Cyl'] = df_08['Cyl'].astype(int)

df_08['Cyl']

0       6
1       6
2       4
3       4
4       6
       ..
2399    6
2400    8
2401    6
2402    6
2403    8
Name: Cyl, Length: 2205, dtype: int64

In [20]:
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no